.background {
    background-image: url(https://i.ibb.co/3kvrMsr/Background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 842px;
}

.forgot-pass-portion {
    background-image: linear-gradient(to right, #983638, #9C2D2D, #902423);
    width: 700px;
    height: 677px;
}

.next-btn {
    width: 231px;
    height: 53px;
    background-color: #630000;
    border: none;
}

.forgotpass-mandela-right {
    position: absolute;
    right: 0;
    bottom: 0px;

}

.forgotpass-mandela-left {
    position: absolute;
    left: 0;
    top: 0;
}