.uploadimg-text {
    font-weight:
        400;
    font-size:
        30px;
    line-height:
        50px;

}

.uploadimg-mandela-left {
    position: absolute;
    left: 0;
    bottom: 0px;
}

.uploadimg-mandela-right {
    position: absolute;
    right: 0;
    top: -50px;
}

.upload-btn {
    width: 163px;
    height: 51px;
    background-color: #E8E8E8;
    color: #730001;
    font-weight: 700;
}